pandas
numpy
pyarrow
google-cloud-storage
google-cloud-secret-manager
google-cloud-bigquery
gcsfs
requests
fredapi
statsmodels
scipy
scikit-learn
autogluon.timeseries
functions-framework==3.* 
db-dtypes